<h1>Service Areas</h1>

<table class="table table-bordered table-striped">
  <tr>
    <th>Service Areas</th>
  </tr>

  <% @service_areas.each do |area| %>
    <tr>
        <td><%= area.name %></td>
    </tr>
  <% end %>
</table>