<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">ThreeOneOne Tracker</a>
  <form class="form-inline">
    <button class="btn btn-outline-primary" type="button">Main button</button>
    <div style="padding-left: 10px;">
      <button class="btn btn-outline-success" type="button">Second button</button>
    </div>
  </form>
</nav>


<h1>Calls</h1>

<table>
  <tr>
    <th>Neighbourhood</th>
    <th>Service Area</th>
    <th>Service Request</th>
    <th></th>
  </tr>

<% @calls.each do |call| %>
   <tr>
      <td><%= call.neighbourhood.neighbourhood %></td>
      <td><%= call.service_area.service_area %></td>
      <td><%= call.service_request.service_request %></td>
      <td><%= link_to 'Show', call_path(call) %></td>
   </tr>
<% end %>
</table>