<h1 class="text-center">About</h1>

<p class="text-center">ThreeOneOne Tracker was created as a midterm project for a full stack developement project at Red River College. <br> <br>
                      ThreeOneOne Tracker uses the <a href="https://data.winnipeg.ca/">Winnipeg Open Data Portal</a> to pull call information from the
                      <a href="https://data.winnipeg.ca/Contact-Centre-311/311-Service-Request/4her-3th5">311 Calls</a> dataset.
                      The dataset is injested into a sqllite database which is then used to display information to the user through tables.
                      </p><br>

                      <p class="text-center">As it stands now, my database structure consists of a table for Service Requests,
                        Service Areas, Wards, and Neighbourhoods, with a Calls table linking all of these together with geographic information for each one.
                        <br><br>
                        Later on I am hoping to possibly add other 311 call datasets from other years (or maybe other cities) and integrate those in as well. <br>
                        As a bonus I am thinking of having a daily server job to pull only the new calls added to the dataset VIA the API and then add those to my sqllite database
                        to keep the database up to date without having to reseed everyday</p>
