<h1 class="text-center"><%=@ward.name%></h1>

<h2 class="text-center"> <%= @calls.count %> Calls Have Been Place From This Ward</h2>

<table class="table table-bordered table-striped text-center">
  <tr>
    <th>Neighbourhoods In <%=@ward.name%></th>
  </tr>
  <% @neighbourhoods.each do |hood| %>
    <tr>
      <td><%= hood.name %></td>
    </tr>
  <% end %>
</table>