<h1 class="text-center">Wards</h1>

<table class="table table-bordered table-striped text-center">
  <tr>
    <th>Neighbourhoods In <%=@ward.name%></th>
  </tr>
  <% @neighbourhoods.each do |hood| %>
    <tr>
      <td><%= hood.name %></td>
    </tr>
  <% end %>
</table>