<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/calls">ThreeOneOne Tracker</a>
  <form class="form-inline">
    <a class="btn btn-outline-primary" href="google.ca">Calls</a>
    <div style="padding-left: 10px;">
      <a class="btn btn-outline-success" href="google.ca">Neighbourhoods</a>
    </div>
  </form>
</nav>


<h1>Neighbourhoods</h1>

<table>
  <tr>
    <th>Neighbourhood</th>
    <th></th>
  </tr>

<% @neighbourhoods.each do |hood| %>
   <tr>
      <td><%= hood.neighbourhood %></td>
   </tr>
<% end %>
</table>