<h1>Neighbourhoods</h1>

<table class="table table-bordered table-striped">
  <tr>
    <th>Neighbourhood</th>
  </tr>

  <% @neighbourhoods.each do |hood| %>
    <tr>
        <td><%= hood.name %></td>
    </tr>
  <% end %>
</table>
<%= paginate @neighbourhoods %>
