<h1>Neighbourhoods</h1>

<table>
  <tr>
    <th>Neighbourhood</th>
    <th></th>
  </tr>

  <% @neighbourhoods.each do |hood| %>
    <tr>
        <td><%= hood.name %></td>
    </tr>
  <% end %>
</table>